@page {
    size: A4 portrait;
    margin: 78mm 15mm 20mm 15mm;

    @top-left {
        content: element(pageHeader);
    }
}

.page-header {
    position: running(pageHeader);
    width: 180mm;
    height: 78mm;
}

body {
    font-family: Muli, Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
}

.invoice-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-top: 20mm;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
}

.organization-info {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.invoice-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
}

.user-info-container {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem 0;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.distributor-info {
    display: flex;
    flex-direction: column;
}

.title-table {
    margin: 1rem auto;
}

.product-table {
    width: 100%;
    page-break-inside: auto;
    border-collapse: collapse;

    thead th {
        border-bottom: 1px solid black;
    }

    thead th:first-child {
        min-width: 70mm;
    }

    thead th:not(:first-child) {
        min-width: 22mm;
    }

    tbody tr {
        td {
            padding: 0.2rem 0;
        }
        td:first-child {
            width: 70mm;
        }
        td:not(:first-child) {
            min-width: 22mm;
        }
    }
}

.product-table tr {
    break-inside: avoid;
    page-break-inside: avoid;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
    padding-right: 0;
    margin-right: 0;
}

.text-left {
    text-align: left;
}

.summary-table {
    margin-left: auto;
}

.invoice-container {
    break-inside: avoid;
}

.page-break {
    break-after: auto;
}
