@page {
    size: A4 landscape;
    margin: 10mm 13.5mm 10mm 13.5mm;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
}

.details-container {
    display: flex;
    flex-direction: row;
    break-inside: auto;
    page-break-inside: auto;
}

.details-container:not(:first-child) {
    border-top: 1px solid black;
}

.half-cell {
    width: 50%;
    padding: 2mm;
    box-sizing: border-box;
    break-inside: avoid;
    page-break-inside: avoid;
}

.half-cell:first-child {
    border-right: 1px solid black;
}

.invoice-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
}

.organization-info {
    display: flex;
    flex-direction: column;
}

.user-info-container {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.distributor-info {
    display: flex;
    flex-direction: column;
}

.product-table {
    page-break-inside: auto;
    border-collapse: collapse;

    thead th:first-child {
        min-width: 60mm;
    }

    thead th:not(:first-child) {
        min-width: 14mm;
    }

    tbody tr {
        td {
            padding: 0.2rem 0;
        }
        td:first-child {
            width: 60mm;
        }
        td:not(:first-child) {
            min-width: 14mm;
        }
    }
}

.product-table tr {
    break-inside: avoid;
    page-break-inside: avoid;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
    padding-right: 0;
    margin-right: 0;
}

.text-left {
    text-align: left;
}

.summary-table {
    margin-left: auto;
}

.invoice-container {
    break-inside: avoid;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.page-break {
    page-break-after: always;
    break-after: page;
}
