<link rel="stylesheet" href="/css/styles.css" />
<div class="full-width-table-container">
    <table class="data-table-with-footer">
        <thead>
        <tr>
            <th>Serial</th>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Discount On Price</th>
            <th class="text-right">Discounted Price</th>
            <th class="text-right">Volume</th>
            <th class="text-left"></th>
            <th class="text-right">Unit</th>
            <th class="text-right"></th>
            <th class="text-right">Pack</th>
            <th class="text-right"></th>
            <th class="text-right">Sub-Total</th>
            <th class="text-right">VAT</th>
            <th class="text-right">Discount</th>
            <th class="text-right">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td>AMLIRRIA - AMANDA LID RR DEEP</td>
            <td class="text-right">Product Price</td>
            <td class="text-right">10</td>
            <td class="text-right">5</td>
            <td class="text-right">5</td>
            <td class="text-left">Pcs</td>
            <td class="text-right">5</td>
            <td class="text-left">Unit</td>
            <td class="text-right">5</td>
            <td class="text-left">Pack</td>
            <td class="text-right">100</td>
            <td class="text-right">13</td>
            <td class="text-right">4</td>
            <td class="text-right">1300</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right">5</th>
            <th class="text-left"></th>
            <th class="text-right">5</th>
            <th class="text-left"></th>
            <th class="text-right">5</th>
            <th class="text-left"></th>
            <th class="text-right">100</th>
            <th class="text-right">13</th>
            <th class="text-right">10</th>
            <th class="text-right">1200</th>
        </tr>
        </tfoot>
    </table>
</div>