<div class="order-template-container">
    <div class="order-header-section">
        <img class="template-org-logo" src="../src/assets/images/logos/template-org-logo.png">
        <div class="template-distributor-section">
            <div>Distributor:</div>
            <div>Ahanaf Abid Ent (1820)</div>
            <div>Code: td001</div>
            <div data-type="address">Mirpur-12</div>
            <div data-type="mobile">01511121256</div>
            <div data-type="phone">714166</div>
        </div>
        <table class="template-info-section">
            <tr>
                <td>Order</td>
                <td>#10050059482</td>
            </tr>
            <tr>
                <td>Payment Type</td>
                <td>Cash</td>
            </tr>
            <tr>
                <td>Order Purpose</td>
                <td>Regular</td>
            </tr>
            <tr>
                <td>Credit Option</td>
                <td>Regular</td>
            </tr>
            <tr>
                <td>Order Time</td>
                <td>03-06-25 4:18 PM</td>
            </tr>
            <tr>
                <td>Complete</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Market</td>
                <td>Test DB Point</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>Approved By</td>
                <td>Test SR(sr001)</td>
            </tr>
            <tr>
                <td>Forwarded By</td>
                <td>Test SR(sr001)</td>
            </tr>
            <tr>
                <td>User</td>
                <td>Test SR(sr001)</td>
            </tr>
        </table>
    </div>
    <table class="template-table-with-footer" cellspacing="0">
        <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Discount On Price</th>
            <th class="text-right">Discounted Price</th>
            <th class="text-right">Volume</th>
            <th class="text-right">Unit</th>
            <th class="text-right">Pack</th>
            <th class="text-right">Sub-Total</th>
            <th class="text-right">VAT</th>
            <th class="text-right">Discount</th>
            <th class="text-right">Total</th>
            <th class="text-center">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td>ক্রাঞ্চি বার-মিনি<b>(004)</b></td>
            <td class="text-right">552.00</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">552.00</td>
            <td class="text-right">1248 Pcs</td>
            <td class="text-right">1 Unit</td>
            <td class="text-right">1 Box</td>
            <td class="text-right">552.00</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">552.00</td>
            <td class="text-center">বাংলা কমেন্ট</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>100 ML Cup Vanilla<b>(024)</b></td>
            <td class="text-right">414.00</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">414.00</td>
            <td class="text-right">3600 Pcs</td>
            <td class="text-right">2 Unit</td>
            <td class="text-right">2 Box</td>
            <td class="text-right">828.00</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">828.00</td>
            <td class="text-center">Some Comment</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right">11640</th>
            <th class="text-right">5</th>
            <th class="text-right">5</th>
            <th class="text-right">3,642.00</th>
            <th class="text-right">0.00</th>
            <th class="text-right">0.00</th>
            <th class="text-right">3,642.00</th>
            <th class="text-center"></th>
        </tr>
        </tfoot>
    </table>
    <table class="primary-order-details-summary">
        <tr>
            <th class="text-right">Weighted Average</th>
            <th class="text-right">0.00</th>
        </tr>
        <tr>
            <th class="text-right">Additional Discount(0%)</th>
            <th class="text-right">0.00</th>
        </tr>
        <tr>
            <th class="text-right">Total Amount</th>
            <th class="text-right">3642.00</th>
        </tr>
        <tr>
            <th class="text-right">Adjustment</th>
            <th class="text-right">0.82</th>
        </tr>
        <tr>
            <th class="text-right">Transport Cost</th>
            <th class="text-right">0.00</th>
        </tr>
        <tr>
            <th class="text-right">Net Payable</th>
            <th class="text-right">3642.00</th>
        </tr>
    </table>
    <div class="template-order-remarks"><b>Comment:</b> This is default format.</div>
</div>