<div class="full-width-table-container">
    <table class="template-table-with-footer" cellspacing="0">
        <thead>
        <tr>
            <th>Serial</th>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Discount On Price</th>
            <th class="text-right">Discounted Price</th>
            <th class="text-right">Volume</th>
            <th class="text-right">Unit</th>
            <th class="text-right">Pack</th>
            <th class="text-right">Sub-Total</th>
            <th class="text-right">VAT</th>
            <th class="text-right">Discount</th>
            <th class="text-right">Total</th>
            <th class="text-center">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td>004 - ক্রাঞ্চি বার-মিনি</td>
            <td class="text-right">552.00</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">552.00</td>
            <td class="text-right">1248 Pcs</td>
            <td class="text-right">1 Unit</td>
            <td class="text-right">1 Box</td>
            <td class="text-right">552.00</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">552.00</td>
            <td class="text-center">বাংলা কমেন্ট</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>024 - 100 ML Cup Vanilla</td>
            <td class="text-right">414.00</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">414.00</td>
            <td class="text-right">3600 Pcs</td>
            <td class="text-right">2 Unit</td>
            <td class="text-right">2 Box</td>
            <td class="text-right">828.00</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">0.00 (0%)</td>
            <td class="text-right">828.00</td>
            <td class="text-center">Some Comment</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right">11640</th>
            <th class="text-right">5</th>
            <th class="text-right">5</th>
            <th class="text-right">3,642.00</th>
            <th class="text-right">0.00</th>
            <th class="text-right">0.00</th>
            <th class="text-right">3,642.00</th>
            <th class="text-center"></th>
        </tr>
        </tfoot>
    </table>

    <table class="summary">
        <tr>
            <th class="text-right">Weighted Average</th>
            <th class="text-right">0.00</th>
        </tr>
        <tr>
            <th class="text-right">Additional Discount(0%)</th>
            <th class="text-right">0.00</th>
        </tr>
        <tr>
            <th class="text-right">Total Amount</th>
            <th class="text-right">3642.00</th>
        </tr>
        <tr>
            <th class="text-right">Adjustment</th>
            <th class="text-right">0.82</th>
        </tr>
        <tr>
            <th class="text-right">Transport Cost</th>
            <th class="text-right">0.00</th>
        </tr>
        <tr>
            <th class="text-right">Net Payable</th>
            <th class="text-right">3642.00</th>
        </tr>
    </table>
</div>