<div class="full-width-table-container">
    <table class="data-table-with-footer">
        <thead>
        <tr>
            <th>Serial</th>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Unit</th>
            <th class="text-right"></th>
            <th class="text-right">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td>Product Name - Product Code</td>
            <td class="text-right">Price</td>
            <td class="text-right">5</td>
            <td class="text-left">Unit</td>
            <td class="text-right">1300</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th class="text-right"></th>
            <th class="text-right">5</th>
            <th class="text-left"></th>
            <th class="text-right">1200</th>
        </tr>
        </tfoot>
    </table>
</div>