<div class="order-template-container">
    <div class="order-header-section">
        <img class="template-org-logo" src="../src/assets/images/logos/template-org-logo.png">
        <div class="template-distributor-section">
            <div>Distributor:</div>
            <div>Ahanaf Abid Ent (1820)</div>
            <div>Code: td001</div>
            <div data-type="address">Mirpur-12</div>
            <div data-type="mobile">01511121256</div>
            <div data-type="phone">714166</div>
        </div>
        <table class="template-info-section">
            <tr>
                <td>Order</td>
                <td>#10050059482</td>
            </tr>
            <tr>
                <td>Payment Type</td>
                <td>Cash</td>
            </tr>
            <tr>
                <td>Order Purpose</td>
                <td>Regular</td>
            </tr>
            <tr>
                <td>Credit Option</td>
                <td>Regular</td>
            </tr>
            <tr>
                <td>Order Time</td>
                <td>03-06-25 4:18 PM</td>
            </tr>
            <tr>
                <td>Complete</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Market</td>
                <td>Test DB Point</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>Approved By</td>
                <td>Test SR(sr001)</td>
            </tr>
            <tr>
                <td>Forwarded By</td>
                <td>Test SR(sr001)</td>
            </tr>
            <tr>
                <td>User</td>
                <td>Test SR(sr001)</td>
            </tr>
        </table>
    </div>
    <div class="template-table-container">
        <table class="template-table-with-footer" cellspacing="0">
            <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-right">Price</th>
                <th class="text-right">Unit</th>
                <th class="text-right"></th>
                <th class="text-right">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>Product Name - Product Code</td>
                <td class="text-right">Price</td>
                <td class="text-right">5</td>
                <td class="text-left">Unit</td>
                <td class="text-right">1300</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th class="text-right"></th>
                <th class="text-right">5</th>
                <th class="text-left"></th>
                <th class="text-right">1200</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="template-order-remarks">
        <b>Comment:</b> This is default format.
    </div>
</div>
